<style>
    body {
        margin-bottom: 80px;
    }

    body {
        padding-top: 70px;
    }

    }
</style>
<!DOCTYPE html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gharbetti</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" data-semver="3.3.5" data-require="bootstrap@3.3.5" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" data-semver="3.3.5" data-require="bootstrap@3.3.5" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gharbetti.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <nav class="navbar-wrapper navbar-inverse navbar-fixed-top">

            <div class="container-fluid">
                <div class="navbar-header">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Gharbetti</a>
                </div><!--end of navbar-header -->
                <div class="collapse navbar-collapse navHeaderCollapse">
                    <!-- Left NavBar -------------------------- -->
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (ViewContext.HttpContext.User.IsInRole("admin"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-expanded="false">Setup Detail<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a asp-area="" asp-controller="House" asp-action="Index">House</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Message" asp-action="Index">Message</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Room" asp-action="Index">Room</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Floor" asp-action="Index">Floor</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="RoomType" asp-action="Index">Room Type</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="ExpenseType" asp-action="Index">Expense Type</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="PaymentMode" asp-action="Index">Payment Mode</a>
                                    </li>




                                </ul>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Approve" asp-action="Index">Approve</a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Complain" asp-action="Index">Complain</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="CleanSchedule" asp-action="Index">Cleaning Schedule</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="StripePayment" asp-action="Index">Stripe Payment</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Transaction" asp-action="Index">Transaction</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Expense" asp-action="Index">Expense Report</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="UserView" asp-action="Index">Tenants</a>
                            </li>
                        }

                        @if (ViewContext.HttpContext.User.IsInRole("tenant"))
                        {
                           @* <li>
                                <a asp-area="" asp-controller="Message" asp-action="Index">Message</a>
                            </li>*@
                            <li>
                                <a asp-area="" asp-controller="Complain" asp-action="Index">Complain</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="CleanSchedule" asp-action="Index">Cleaning Schedule</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Transaction" asp-action="Index">Transaction</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Expense" asp-action="Index">Expense Report</a>
                            </li>
                        }

                    </ul>
                    <!-- Right NavBar ------------------------- -->
                    <ul class="nav navbar-nav navbar-right">
                        <partial name="_LoginPartial"></partial>
                    </ul>
                </div>
            </div>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </nav>

    </header>
    <div class="container">
        @RenderBody()

    </div>


    <nav class="navbar-wrapper navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            &copy; 2023 - Gharbetti
        </div>
    </nav>
    @*    <footer class="border-top footer text-muted">
    </footer>*@
</body>
</html>
