@{
    ViewData["Title"] = "Index";
}

<script src="~/js/Angularjs/angular.min.js"></script>
<script src="~/js/DataTable/ui-bootstrap-tpls.min.js"></script>
<script src="~/js/Angularjs/angular-ui-utils.min.js"></script>
<script src="~/js/DataTable/dataTables.min.js"></script>
<script src="~/js/DataTable/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="~/css/datatable/dataTables.min.css">
<script src="~/js/UserView/Index.js"></script>

<div ng-app="approveIndex" ng-controller="formController as ctrl"
     ng-init="init(
    @Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["Approve"]))" ng-cloak>
    <div asp-validation-summary="None"></div>
    <div class="box">
        <div class="box-header with-border">

            <table class="table table-fixed table-striped table-bordered datatable"
                   ui-jq="dataTable" ui-options="dataTableOpt">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Detail</th>
                        <th>Address</th>
                        <th>Room</th>
                        <th>Stay Length</th>
                        <th>Document</th>
                        <th>Photo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in ApproveList.records">
                        <td>{{ data.FirstName }} {{ data.MiddleName }} {{ data.LastName }}</td>
                      
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="onClickDetail(data.Id)">UserDetail</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="onClickAddress(data.Id)">Address</button>
                        </td>
                        <td>{{ data.RoomName}}</td>
                        <td>{{ data.StayLength}}</td>
                        <td><a href="~/uploads/{{data.Identification}}" target="_blank">View</a></td>
                        <td><a href="~/uploads/{{data.PhotoId}}" target="_blank">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
       


        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Address</h5>
                    </div>
                    <div class="modal-body">
                        <div form-group>
                            <label class="form-label">Address Line 1 :</label>
                            <p class="form-label">{{Address.AddressLine1}}</p>
                        </div>

                        <div form-group>
                            <label class="form-label">Address Line 2 :</label>
                            <p class="form-label">{{Address.AddressLine2}}</p>
                        </div>


                        <div form-group>
                            <label class="form-label">Address Line 3 :</label>
                            <p class="form-label">{{Address.AddressLine3}}</p>
                        </div>

                        <div form-group>
                            <label class="form-label">City :</label>
                            <p class="form-label">{{Address.City}}</p>
                        </div>


                        <div form-group>
                            <label class="form-label">County:</label>
                            <p class="form-label">{{Address.County}}</p>
                        </div>


                        <div form-group>
                            <label class="form-label">Postal Code :</label>
                            <p class="form-label">{{Address.PostalCode}}</p>
                        </div>

                        <div form-group>
                            <label class="form-label">Country :</label>
                            <p class="form-label">{{Address.Country}}</p>
                        </div>
                                               
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">User Detail</h5>
                    </div>
                    <div class="modal-body">
                        <div form-group>
                            <label class="form-label">Email :</label>
                            <p class="form-label">{{PersonalDetail.Email}}</p>
                        </div>

                        <div form-group>
                            <label class="form-label">Phone :</label>
                            <p class="form-label">{{PersonalDetail.PhoneNumber}}</p>
                        </div>


                        <div form-group>
                            <label class="form-label">Mobile :</label>
                            <p class="form-label">{{PersonalDetail.MobileNumber}}</p>
                        </div>

                        <div form-group>
                            <label class="form-label">Dob :</label>
                            <p class="form-label">{{PersonalDetail.Dob}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade" id="resubmitRemark" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Resumbit Remarks</h5>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label class="col-form-label">Remarks :</label>
                            <textarea class="form-control" ng-model="SubmitRemarks.Remarks" placeholder="Enter Remarks" rows="4" cols="50">
                                    </textarea>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="onClickSaveRemarks()">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

